body {
    background-color: #171717;
    font-family: 'Roboto', sans-serif;
}

.section-top {
    display: flex;
    justify-content: space-around;
    margin-top: 46px;
}

.button-top {
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 26px;
}

.title-first,
.sub-title-first {
    font-weight: 700;
    font-size: 55px;
    line-height: 28px;
    margin-top: 128px;
    color: #FFFFFF;
}

.sub-title-first {
    font-size: 27px;
    line-height: 28px;
    margin-top: 41px;
}

.section-gallery {
    display: grid;
    grid-template-columns: 467px 234px 234px 467px;
    grid-template-rows: 468px 468px;
    grid-gap: 29px;
    margin-top: 41px;
}

.section-gallery-item {
    color: #FFFFFF;
    font-weight: 450;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    align-items: center;
    display: grid;
}

.section-gallery-item-1 {
    background-color: #634F2C;
}

.section-gallery-item-2 {
    background-color: #B4A385;
    grid-column: 2 / span 2;
}

.section-gallery-item-3 {
    background-color: #E4B564;
}

.section-gallery-item-4 {
    background-color: #635A4A;
    grid-column: 1 / span 2;
}

.section-gallery-item-5 {
    background-color: #B08C4D;
    grid-column: 3 / span 2;
}

.section-second-header {
    font-weight: 700;
    font-size: 55px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 161px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-gap: 25px 30px;
    grid-template-rows: 255px 32px 101px 122px 277px;
    margin-top: 94px;
    margin-bottom: 190px;
}

.main-container-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 51px;
}

.main-container-item1,
.main-container-item6 {
    background-color: #0E0E0E;
}

.main-container-item2 {
    background-color: #242424;
}

.main-container-item3,
.main-container-item4 {
    background-color: #1F1F1F;
}

.main-container-item5 {
    background-color: #E4B564;
    color: #000000;
}

.main-container-item7 {
    background-color: #0A0909;
}

.main-container-item1 {
    grid-row: span 2;
}

.main-container-item2,
.main-container-item6 {
    grid-row: span 3;
}

.main-container-item4 {
    grid-row: 3 / 7;
}

.main-container-item5 {
    grid-row: 4 / 7;
}

.main-container-item7 {
    grid-row: 5 / 7;
}

.footer {
    background-color: #0E0E0E;
    padding-top: 192px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.header-footer {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.button-footer {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-decoration: none;
    border: 1px solid #E4B564;
    padding: 10px 26px;
}

.footer-section {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(3, 391px);
    margin-top: 72px;
}

.footer-section-item {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-section-item1,
.footer-section-item6 {
    background-color: #634F2C;
}

.footer-section-item2 {
    background-color: #E8D2AB;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 50px 50px;
}

.footer-section-item3 {
    background-color: #E4B564;
}

.footer-section-item4 {
    background-color: #635A4A;
}

.footer-section-item5 {
    background-color: #B08C4D;
    font-size: 30px;
    color: white;
    font-weight: 600;
    background-image: url(../img/Vector\ \(6\).png);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 80px;
}

.footer-section-item6 {
    background-color: #634F2C;
}